.header {
    border-color: black;
    border-bottom: 1px solid;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 80px;
    padding: 30px 10px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #131313;
    /* background-color: #e7e5e4; */
    letter-spacing: .15em;
    text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474;
}
#map {
    margin-left: auto;
    margin-right: auto;
    width:85%;
    height:400px;
    text-align:center;
}

.table {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.border_right {
    border-color: black;
    border-right: 1px solid;
}

.padding {
    margin: 20px;
}

#cookieForm {
    width:30%;
}